@import url("fonts.css");
@import url("navbar.css");

body {
    background: #5fbcd3;
    color: #000;
	font-family: 'Times New Roman', Times, FreeSerif, serif; 
}

.ui_main_container {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	width: calc(100% - 280px);
	height: calc(100% - 20px);
	overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Inter, Helvetica, Arial, FreeSans, sans-serif;
}

.uc_sign {
	position: absolute; 
	bottom:0; 
	right: 20px;
}