html, body {
	background: #c0f;
	color: #fff;
}
.ui_nav_box {
	display: none;

}
.ui_main_container {
	background: #000 url("../images/bg/bcase.gif");
	width: calc(100% - 160px);
	height: calc(100% - 20px);
}